{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style8.css' %}" rel="stylesheet">
    <title>BOOKING_CAR</title>

    <script type="text/javascript">



        var citiesByState = {
        /* Odisha: ["Bhubaneswar","Puri","Cuttack"],
        Maharashtra: ["Mumbai","Pune","Nagpur"],
        Kerala: ["kochi","Kanpur"] */
        OneKg: ["50&#8377;"],
        FiveKgKg: ["100&#8377;"],
        TenKg: ["150&#8377;"],
        TwentyKg: ["200&#8377;"],
        TwentyFiveKg: ["250&#8377;"]
        }
        function makeSubmenu(value) {
        if(value.length==0) document.getElementById("priceSelect").innerHTML = "<option></option>";
        else {
        var citiesOptions = "";
        for(cityId in citiesByState[value]) {
        citiesOptions+="<option>"+citiesByState[value][cityId]+"</option>";
        }
        document.getElementById("priceSelect").innerHTML = citiesOptions;
        }
        }
        function displaySelected() { var country = document.getElementById("weightSelect").value;
        var city = document.getElementById("priceSelect").value;
        alert(country+"\n"+city);
        }
        function resetSelection() {
        document.getElementById("weightSelect").selectedIndex = 0;
        document.getElementById("priceSelect").selectedIndex = 0;
        }
        </script>
        
</head>

<body>
    <div class="container my-3 ">
        <h1 style="text-align:center; color: aliceblue; background-color:black">Book The Car </h1>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">

                <form method="POST" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="username" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="fname" name="ufname" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lname" name="ulname"
                                    aria-describedby="emailHelp" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="typeambulance" class="form-label"> Address</label>
                        <input type="text" class="form-control" id="address" name="uaddress" required>
                    </div>
                  
                    <div class="mb-3">
                        <label for="phone" class="form-label">Contact No</label>
                        <input type="number"  class="form-control" id="uphone" name="uphone" required>
                    </div>
                    
                  
                 

                         
                         <div class="row">
                   
                            <div class="col-sm-4">
                                <label for="age" class="form-label">Cargo Types</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="1">Bags </option>
                                    <option value="2">Electrical Product</option>
                                    <option value="3">Food Item </option>
                                    <option value="4">Documents </option>
                                  </select></div>
                                  <div class="col-sm-4">
                                    

                                       <label class="form-label my-1"> Weight :-</label>
                                        <select class="form-select" aria-label="Default select example" id="weightSelect" size="1" name="weightSelect" onchange="makeSubmenu(this.value)">
                                        <option value="" disabled selected>Choose Weight</option>
                                        
                                                                
                                        <option value="OneKg">0- 5 Kg </option>
                                        <option value="FiveKg">5-10 kg</option>
                                        <option value="TenKg"> 10-15 Kg</option>
                                        <option value="TwentyKg"> 15-20 Kg </option>
                                        <option value="TwentyFiveKg">20-25 Kg </option>
                                                              </select>
                                        
                                    </div>

                                      
                      
                            <div class="col-sm-4">
                              
                                
                                  <label class="form-label"> Price :-</label>
                                    <select class="form-select" aria-label="Default select example" id="priceSelect" name="priceSelect" size="1" >
                                    <option value="" disabled selected>Cargo Extra Price</option>
                                    <option></option>
                                    </select>
                                </div>
            
                    <div class="mb-3">
                        <!-- <label for="phone" class="form-label">Gender</label></div>
                    <div class="row">
                        <div class="col-sm-4">
                           
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender"
                                        id="gender">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Male
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender"
                                        id="gender">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Female
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender"
                                        id="gender">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Other
                                    </label>
                                </div>
                            </div>
                       </div>
                    </div><br> -->
                    <!-- <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->

                    <div class="d-grid gap-2">
                        
                        <button class="btn btn-primary" type="submit">Book Car</button>
                      </div>
                </form>
                
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>  

