{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/style9.css' %}" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="container my-5" style="border: 5px solid;">
    <h1 style="text-align:center;"> All Bookings </h1>
    <table class="table table-hover ">

      <thead>
        <tr>
          <th scope="col">#</th>
          <!-- <th scope="col"> username</th> -->
          <th scope="col">first name</th>
          <th scope="col">last name</th>
          <th scope="col">Pickup Address</th>
          <th scope="col">Phone No</th>
          <th scope="col">Weight</th>
          <th scope="col">Extra Price</th>
          <!-- <th scope="col">Action</th> -->
          
      </tr> 
      </thead>
      
      <tbody>
       {% for fm in hop %}
        <tr>
        <th scope="row">{{forloop.counter}}</th>

        <td colspan="">{{fm.ufname}}</td>
        <td colspan="">{{fm.ulname}}</td>
        <td colspan="">{{fm.uaddress}}</td>
        <td colspan="">{{fm.uphone}}</td>
        <td colspan="">{{fm.weightSelect}}</td>
        <td colspan="">{{fm.priceSelect}}</td>
      
        <td colspan=""><a href="{% url 'deletdata' fm.id  %}" class="btn btn-danger btn-sm" type="submit">Accept</a></td>


      </tr>
      {% endfor %}
      </tbody>
      
    </table>

  </div>

  <script>
    function hideAccept(){
document.getElementById("acceptMe").style.display="none";
// document.getElementById("rejectMe").style.display="block";
}

  </script>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>